<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edits from HYPOCRITE</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <script defer src="/static/js/script.js"></script>
</head>
<body>
    <div class="animated-gradient">
        <header id="header" class="container">
            <span class="logo">HYPOCRITE</span>
            <nav>
                <ul>
                    <li class="active"><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/about.html">About me</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Channels</a></li>
                    <li class="btn"> <a href="#">Contacts</a></li>
                </ul>
            </nav>
        </header>   
        <div class="hero container">
            <div class="hero--info">
                <h1>Reviews / Contact with me</h1>
                <p>On this page, you can see feedback from customers and the work that has been done for them. You can also contact me for advice, collaboration, or a general project.</p>
                <button class="btn">Get in touch</button>
            </div>
            <img src="/static/img/kaiser-bluelockkaiser.gif" alt="">
        </div>
        <div class="container work">
            <h2>Customer reviews</h2>
            <div class="blockss">
                <div class="blockk">
                    <span class="badge">Text stub</span>
                    <h3>Text stub</h3>
                    <p>For now, this paragraph will have a placeholder in the form of uninformative text</p>
                </div>
                <div class="blockk">
                    <span class="badge">Text stub</span>
                    <h3>Text stub</h3>
                    <p>For now, this paragraph will have a placeholder in the form of uninformative text</p>
                </div>
                <div class="blockk">
                    <span class="badge">Text stub</span>
                    <h3>Text stub</h3>
                    <p>For now, this paragraph will have a placeholder in the form of uninformative text</p>
                </div>
            </div>
        </div>



    <footer>
        <div class="blocks container">
            <div>
                <span class="logo">HYPOCRITE</span>
                <p>For now, this paragraph will have a placeholder in the form of uninformative text</p>
            </div>
            <div>
                <h4>About us</h4>
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li>Portfolio</li>
                    <li>Channels</li>
                    <li href="/templates/about.html">Contact us</li>
                </ul>
            </div>
            <div>
                <h4>Contact us</h4>
                <p>For now, this paragraph will have a placeholder in the form of uninformative text</p>
                <p>+79832281337</p>
            </div>
        </div>
        <hr>
        <p>Copyright © Lorem all rights Rcerved</p>
    </footer>


</div>
</body>
</html>